.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1rem;
  padding: 70px 0px;
  background: rgb(232, 227, 227);
}

.counter {
  margin: 0 90px;
  text-align: center;
}

.number {
  font-size: 24px;
  font-weight: bold;
}
.counter h3 {
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 678px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
